.todo-list-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;  

  width           : 70%;
  margin          : 3% 0% 6% 0%;
  padding-bottom  : 2%;

  border-bottom   : 2px solid black;
}

.todo-list {
  margin          : 0;
  padding         : 0;
}

.btn--clear-completed-todos {
  margin-top      : 2%;
  padding         : 2% 5%;


  background      : linear-gradient(90deg, #6d0707, #ff0303);
  background      : -webkit-gradient(90deg, #6d0707, #ff0303);
  background      : -webkit-linear-gradient(90deg, #6d0707, #ff0303);
  background-clip : text;
  color           : transparent;
}

.btn--clear-completed-todos:hover {
  background      : linear-gradient(90deg, #460505, #b90000);
  background      : -webkit-gradient(90deg, #460505, #b90000);
  background      : -webkit-linear-gradient(90deg, #460505, #b90000);
  background-clip : text;
  color           : transparent;
}