.add-todo-list-item-container {
  width           : 70%;
}
.add-todo-list-item {
  width           : 100%;

  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
}

.add-todo-list-item__input {
  font-family     : inherit;
  
  width           : 50%;
  border          : none;
  padding         : 1%;
  margin-bottom   : 3%;

  background-color: transparent;
  
  outline         : none;
  border-bottom   : 2px solid black;

  text-align      : center;
}

.btn--add-todo-list-item {
  padding         : 2% 10%;

  background      : linear-gradient(90deg, #047012, #03c4ff);
  background      : -webkit-gradient(90deg, #047012, #03c4ff);
  background      : -webkit-linear-gradient(90deg, #047012, #03c4ff);
  background-image: -webkit-linear-gradient(90deg, #047012, #03c4ff);
  background-clip : text;
  color           : transparent;
}

.btn--add-todo-list-item:hover {
  background      : linear-gradient(90deg, #03490c, #03a7da);
  background      : -webkit-gradient(90deg, #03490c, #03a7da);
  background      : -webkit-linear-gradient(90deg, #03490c, #03a7da);
  background-image: -webkit-linear-gradient(90deg, #03490c, #03a7da);
  background-clip : text;
  color           : transparent;
}